<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manga Catalog</title>
</head>
<body>
    <h1>Manga Catalog</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
        </tr>
        <tr th:each="Manga : ${manga}">
            <td th:text="${manga.id}"></td>
            <td th:text="${manga.title}"></td>
            <td th:text="${manga.author}"></td>
            <td th:text="${manga.category}"></td>
        </tr>
    </table>
</body>
</html>